<div class="row g-4">
  {{#with main}}

  <div class="card"
    style="background-image: radial-gradient( circle 513px at 52.1% 52.6%,  rgba(240,241,163,1) 0%, rgba(236,135,135,1) 90% );">
    <div class="card-body">
      <h3>{{name}}</h3>
      <div>
        <p>Birth date: {{birthdate}}</p>
        <p>Death place: {{deathplace}}</p>
        <p>Nationality: {{nationality}}</p>
        <p>Occupation: {{occupation}}</p>
        <p>Known for:
        <ul>
          {{#each known_for}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
        </p>
      </div>
    </div>
  </div>



  <div class="card"
    style="background-image: radial-gradient( circle 513px at 52.1% 52.6%,  rgba(240,241,163,1) 0%, rgba(236,135,135,1) 90% );">
    <div class="card-body text-end">
      <h4>Education:</h4>
      <div>
        {{#each education}}
        <p>Degree: {{degree}}</p>
        <p>Field: {{field}}</p>
        <p>Institution: {{institution}}</p>
        <p>Year: {{year}}</p>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card"
    style="background-image: radial-gradient( circle 513px at 52.1% 52.6%,  rgba(240,241,163,1) 0%, rgba(236,135,135,1) 90% );">
    <div class="card-body">
      <div>
        <h4>Notable publications:</h4>
        {{#each notable_publications}}
        <div class="{{#if @last}} text-end {{/if}}">
          <p>Title: {{title}}</p>
          <p>Year: {{year}}</p>
          <p>Publisher: {{publisher}}</p>
          {{#if @last}} {{else}}
          <hr> {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card"
    style="background-image: radial-gradient( circle 513px at 52.1% 52.6%,  rgba(240,241,163,1) 0%, rgba(236,135,135,1) 90% );">
    <div class="card-body">
      <div>
        <h4>Partners:</h4>
        {{#each partners}}
        <div class="{{#if @last}} text-end {{/if}}">
          <p>Name: {{name}}</p>
          <p>Relationship: {{relationship}}</p>
          <p>Years: {{years}}</p>
          {{#if @last}} {{else}}
          <hr> {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card"
    style="background-image: radial-gradient( circle 513px at 52.1% 52.6%,  rgba(240,241,163,1) 0%, rgba(236,135,135,1) 90% );">
    <div class="card-body">
      <div>
        <h4>Awards:</h4>
        <p>{{#each awards}}
        <div>
          <p>Title: {{title}}</p>
          <p>Years: {{year}}</p>
          <p>Description: {{description}}</p>
        </div>
        {{/each}}
        </p>
      </div>
    </div>
  </div>

  <div class="card"
    style="background-image: radial-gradient( circle 513px at 52.1% 52.6%,  rgba(240,241,163,1) 0%, rgba(236,135,135,1) 90% );">
    <div class="row px-3">
      <div class="card-body col-4">
        <h4>Influences:</h4>
        {{#each influences}}
        <li>{{this}}</li><br>
        {{/each}}
      </div>


      <div class="card-body col-4">
        <h4>Influenced:</h4>
        {{#each influenced}}
        <li>{{this}}</li><br>
        {{/each}}
      </div>

      <div class="card-body col-4">
        <h4>Quotes:</h4>
        {{#each quotes}}
        <li>{{this}}</li><br>
        {{/each}}
      </div>
    </div>
  </div>



  <div class="card"
    style="background-image: radial-gradient( circle 513px at 52.1% 52.6%,  rgba(240,241,163,1) 0%, rgba(236,135,135,1) 90% );">
    <div class="card-body">
      <div>
        <h4>Major discoveries:</h4>
        {{#each major_discoveries}}
        <div>
          <p>Title: {{title}}</p>
          <p>Years: {{year}}</p>
          <p>Description: {{description}}</p>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card"
    style="background-image: radial-gradient( circle 513px at 52.1% 52.6%,  rgba(240,241,163,1) 0%, rgba(236,135,135,1) 90% );">
    <div class="card-body text-center">
      <div>
        <h4>Contributions:</h4>
        {{#with contributions}}
        <div>
          <p>Title: {{title}}</p>
          <p>Years: {{year}}</p>
          <p>Description: {{description}}</p>
          <p>Field: {{field}}</p>
        </div>
        {{/with}}
      </div>
    </div>
  </div>

  {{/with}}
</div>