<h1 class="alert alert-primary px-5">{{make}} {{model}} {{color}} year: {{year}}</h1>

<div class="row gy-3 m-0">

  <h3 class="alert alert-danger px-4">features:</h3>
  {{#with features}}


  <div class="card">
    {{#with interior}}
    <div class="card-body">
      <button class="btn btn-outline-dark">
        <h4>interior:</h4>
      </button>

      <div class="row">
        <div class="card-body col-4">
          <h5>seats:</h5>
          {{#with seats}}
          <div>
            <p>material - {{material}}</p>
            <p>color - {{color}}</p>
            <p>heated - {{#if heated}} yes {{else}} no {{/if}}</p>
            <p>ventilated- {{#if ventilated}} yes {{else}} no {{/if}}</p>
          </div>
          {{/with}}
        </div>

        <div class="card-body col-4 px-0">
          <h5>dashboard:</h5>
          {{#with dashboard}}

          <p>material - {{material}}</p>
          <p>color - {{color}}</p>
          <p>display:</p>
          {{#with display}}
          <section>
            <li>type - {{type}}</li>
            <li>size - {{size}}</li>
            <li>resolution - {{resolution}}</li>
            <li>touchscreen - {{#if touchscreen}} yes {{else}} no {{/if}}</li>
          </section>
          {{/with}}

          {{/with}}
        </div>

        <div class="card-body col-4">
          <h5>audio:</h5>
          {{#with audio}}
          <div>
            <p>system - {{system}}</p>
            <p>speakers - {{speakers}}</p>
            <p>subwoofer - {{#if subwoofer}} yes {{else}} no {{/if}}</p>
            <p>bluetooth - {{#if bluetooth}} yes {{else}} no {{/if}}</p>
            <p>USB- {{#if USB}} yes {{else}} no {{/if}}</p>
          </div>
          {{/with}}
        </div>
      </div>

    </div>
    {{/with}}
  </div>





  <div class="card">
    <div class="card-body">
      <button class="btn btn-outline-dark">
        <h4>exterior:</h4>
      </button>
      {{#with exterior}}

      <div class="row">
        <div class="card-body col-4">
          <h5>wheels:</h5>
          {{#with wheels}}
          <section>
            <p>size - {{size}}</p>
            <p>type - {{type}}</p>
            <p>color - {{color}}</p>
          </section>
          {{/with}}
        </div>

        <div class="card-body col-4">
          <h5>headlights:</h5>
          {{#with headlights}}
          <section>
            <p>type - {{type}}</p>
            <p>brightness - {{brightness}}</p>
            <p>automatic - {{#if automatic}} yes {{else}} no {{/if}}</p>
          </section>
          {{/with}}
        </div>

        <div class="card-body col-4">
          <h5>sunroof:</h5>
          {{#with sunroof}}
          <section>
            <p>type - {{type}}</p>
            <p>size - {{size}}</p>
            <p>automatic - {{#if automatic}} yes {{else}} no {{/if}}</p>
          </section>
          {{/with}}
        </div>
      </div>

      {{/with}}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <button class="btn btn-outline-dark">
          <h4>safety:</h4>
        </button>
      </div>
      <div class="row ps-5">
        <div class="card-body col-4 ms-5">
          {{#with safety}}
          <section>
            {{#with airbags}}
            <li>front - {{front}}</li>
            <li>side - {{side}}</li>
            <li>knee - {{knee}}</li>
            <li>rear - {{rear}}</li>
            {{/with}}
          </section>
        </div>
        <div class="card-body col-4 me-0">
          <ol>
            {{#with assistance}}
            <li>blind spot monitoring - {{#if blind_spot_monitoring}} yes {{else}} no {{/if}}</li>
            <li>rear cross traffic alert - {{#if rear_cross_traffic_alert}} yes {{else}} no {{/if}}</li>
            <li>lane departure warning - {{#if lane_departure_warning}} yes {{else}} no {{/if}}</li>
            <li>adaptive cruise control - {{#if adaptive_cruise_control}} yes {{else}} no {{/if}}</li>
            <li>collision warning - {{#if collision_warning}} yes {{else}} no {{/if}}</li>
            {{/with}}
          </ol>
        </div>
        {{/with}}
      </div>
      {{/with}}
    </div>
  </div>

</div>

<div class="row pt-3">

  <div class="col-4 px-0 pe-3">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button class="btn btn-outline-warning">
            <h3>engine:</h3>
          </button>
        </div>
        {{#with engine}}
        <section>
          <p>type - {{type}}</p>
          <p>displacement - {{displacement}}</p>
          <p>horsepower - {{horsepower}}</p>
          <p>torque - {{torque}}</p>
          <p>transmission: {{#with transmission}}
          <section>
            <p>type - {{type}}</p>
            <p>gears - {{gears}}</p>
          </section>
          {{/with}}
        </section>
        {{/with}}
      </div>
    </div>
  </div>

  <div class="col-4 px-0 pe-3">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button class="btn btn-outline-danger">
            <h3>fuel economy:</h3>
          </button>
        </div>
        {{#with fuel_economy}}
        <section>
          <p>city - {{city}}</p>
          <p>highway - {{highway}}</p>
          <p>combined - {{combined}}</p>
        </section>
        {{/with}}
      </div>
    </div>
  </div>

  <div class="col-4 px-0 me-0 ms-0">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <button class="btn btn-outline-success">
            <h3>price:</h3>
          </button>
        </div>

        {{#with price}}
        <section>
          <p>base - {{base}}</p>
          <p>destination - {{destination}}</p>
          <p>options: {{#with options}}
          <section class="px-0">
            <li>navigation - {{navigation}}</li>
            <li>moonroof - {{moonroof}}</li>
            <li>premium paint - {{premium_paint}}</li>
          </section>
          {{/with}}
          <p>total - {{total}}$</p>
        </section>
        {{/with}}
      </div>
    </div>
  </div>

</div>