<div>
  <div class="alert alert-danger">
    <h1>{{name}}</h1>
    <h2><q>{{description}}</q></h2>
  </div>


  <div class="card">
    <div class="card-header">
      <h3>History:</h3>
    </div>
    <div class="card-body">
      <h4>{{#with history}}
        <p>year - {{year}}</p>
        <p>founder- {{founder}}</p>
        {{/with}}
      </h4>
    </div>
  </div>


  <section>

    <div class="card mb-3">
      <div class="card-body">
        <h4>Types:</h4>
        <h5>{{#each types}}
          <li>{{this}}</li>
          {{/each}}
        </h5>

      </div>
    </div>

    <div class="row mb-3">
      <div class="card p-0">
        <div class="card-body p-0">
          <div class="row g-3 p-3">


            <h5>Syntax:</h5>
            {{#with syntax}}

            <div class="col-3">
              <div class="card">
                <div class="card-body">
                  <section>
                    <b>variables:</b>

                    {{#each variables}}
                    <li>{{this}}</li>
                    {{/each}}

                  </section>
                </div>
              </div>
            </div>

            <div class="col-3">

            </div>


            <div class="col-3">
              <div class="card py-4">
                <div class="card-body">
                  <section>
                    <b>functions:</b>
                    {{#each functions}}
                    <li>{{this}}</li>
                    {{/each}}
                  </section>
                </div>
              </div>
            </div>

            <div class="col-3">

            </div>

            <div class="col-3">

            </div>


            <div class="col-3">
              <div class="card">
                <div class="card-body px-2">
                  <section>
                    <b>conditionals:</b>

                    {{#each conditionals}}
                    <li>{{this}}</li>
                    {{/each}}

                  </section>
                </div>
              </div>
            </div>

            <div class="col-3">

            </div>


            <div class="col-3">
              <div class="card">
                <div class="card-body">
                  <section>
                    <b>loops:</b>

                    {{#each loops}}
                    <li>{{this}}</li>
                    {{/each}}

                  </section>
                </div>
              </div>
            </div>

            <div class="col-3">

            </div>

            <div class="col-3">

            </div>


            <div class="col-3">
              <div class="card py-4">
                <div class="card-body">
                  <section>
                    <b>classes:</b>

                    {{#each classes}}
                    <li>{{this}}</li>
                    {{/each}}

                  </section>
                </div>
              </div>
            </div>

            <div class="col-3">

            </div>

          </div>

        </div>
      </div>





      {{/with}}
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <section>
          <h5>Features:</h5>

          {{#each features}}
          <li>{{this}}</li>
          {{/each}}

        </section>
      </div>
    </div>




    <div class="row mb-3">
      <div class="card p-0">
        <div class="card-body p-0">
          <div class="row gx-3">


            <div class="col-6">
              <div class="card my-3 ms-3">
                <div class="card-body m-0">
                  <section>
                    <h5>Libraries:</h5>

                    {{#each libraries}}
                    <li>{{this}}</li>
                    {{/each}}

                  </section>
                </div>
              </div>
            </div>


            <div class="col-6">
              <div class="card my-3 me-3">
                <div class="card-body m-0">
                  <section>
                    <h5>Tools:</h5>

                    {{#each tools}}
                    <li>{{this}}</li>
                    {{/each}}

                  </section>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>



    <div class="alert alert-dark">
      <div class="card-body">
        <section>
          <h5>Community:</h5>

          {{#each community}}
          <li>{{name}} ({{type}})</li>
          {{/each}}

        </section>
      </div>
    </div>


  </section>
</div>