{{!
Це код container файлу для works сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  {{#with person}}


  <div class="card col-6"
    style="background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );">
    <div class="card-body">
      <div>
        <h3>{{name}}</h3>
      </div>

      <div>
        <b>Age</b> - {{age}}, <b>gender</b> - {{gender}}
      </div>

      {{#with address}}
      <div>
        <em>Address:</em> {{street}}; {{city}}; {{state}}; {{zip}}; {{country}}
      </div>
    </div>
  </div>
  <section>

    {{/with}}

    {{#each education}}
    <div class="card col-7 p-3"
      style="background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );">
      <div class="card-body">
        <h4>Education</h4>
        <div>
          <li><em>degree:</em> {{degree}}</li>
          <li><em>major:</em> {{major}}</li>
          <li><em>university:</em> {{university}}</li>
          <li><em>graduation year:</em> {{graduationYear}}</li>
        </div>
      </div>
    </div>
    {{/each }}
    {{#each workExperience}}


    <section>
      <div class="card col-8 p-3"
        style="background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );">
        <div class="card-body">
          <h4>Work experience</h4>
          <li><i>company:</i>
            {{company}}</li>
          <li><i>title:</i>
            {{title}}</li>
          <li><i>start date:</i>
            {{startDate}}</li>
          <li><i>end date:</i>
            {{endDate}}</li>
          <li><i>responsibilities:</i>
            {{responsibilities}}<br></li>
          <li><i>year founded:</i>
            {{year_founded}}</li>
          <li><i>industry:</i>
            {{industry}}</li>
        </div>
      </div>

      <section>
        <div class="card col-9 p-3"
          style="background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );">
          <div class="card-body">
            <div class="mb-2"><i><b>employees:</b></i></div>
            {{#each employees}}

            <li><em>name:</em>
              {{name}}</li>
            <li><em>position:</em>
              {{position}}</li>
            <li><em>department:</em>
              {{department}}</li>

            <section>
              <div class="mb-2"><em><b>projects:</b></em></div>
              {{#each projects}}

              <li><em>name:</em>
                {{name}}</li>
              <li><em>description:</em>
                {{description}}</li>
              <li><em>status:</em>
                {{status}}</li>

              <section>
                <div class="mb-2"><em><b>teams:</b></em></div>
                {{#each teams}}
                <div>
                  <li><em>team name:</em>
                    {{team_name}}</li>

                  <section>
                    <em class="mb-2"><b>team leader:</b></em>
                    {{#with team_leader}}
                    <li><em>name:</em>
                      {{name}}</li>
                    <li><em>title:</em>
                      {{title}}</li>
                    <li><em>email:</em>
                      {{email}}</li>
                  </section>
                  {{/with}}
                </div>

              </section>
            </section>
          </div>
        </div>
        <section>
          <div class="card col-10 p-3"
            style="background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );">
            <div class="card-body">
              <section>
                <div class="mb-2"><em><b>team members:</b></em></div>
                {{#each team_members}}

                <li><em>name:</em>
                  {{name}}</li>
                <li><em>title:</em>
                  {{title}}</li>
                <li><em>email:</em>
                  {{email}}</li>
                <section class="my-2 py-2">
                  <div class="mb-2"><em><b>skills:</b></em></div>
                  <div>{{#each skills}}
                    <li>{{this}}</li> {{/each}}
                  </div>
                </section>





                <section class="m-0 py-0">
                  <section class="m-0 py-0">
                    <div class="mb-2 mt-0"><em><b>projects:</b></em></div>
                    {{#each projects}}
                    <li><em>name:</em>
                      {{name}}</li>
                    <li><em>description:</em>
                      {{description}}</li>
                    <div class="my-2"><em><b>technologies:</b></em></div>
                    <div>
                      {{#each technologies}}
                      <li>{{this}}</li>
                      {{/each}}
                    </div>

                    <section>
                      <div class="mb-2"><em><b>team members:</b></em></div>
                      <div>
                        {{#each team_members}}
                        <div>
                          <li><em>name:</em>
                            {{name}}</li>
                        </div>
                        <div>
                          <li><em>title:</em>
                            {{title}}</li>
                        </div>
                        {{/each}}
                      </div>
                    </section>
                  </section>
                </section>
                {{/each}}
              </section>
              {{/each}}
            </div>
          </div>

          {{/each}}
        </section>

        {{/each}}
      </section>
      {{/each}}
    </section>
    {{/each}}
  </section>
  {{/with}}
</div>












{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}