<div>

  <div class="card text-center">
    <div class="card-header">
      <h1>{{program.excursion.name}}</h1>
    </div>
    <div class="card-body">
      <h2>{{program.excursion.location.city}},
        {{program.excursion.location.country}}</h2>
    </div>
    <div class="card-footer">
      <h3>Program:</h3>
    </div>
  </div>

  {{#each program.excursion.program}}
  <div class="card my-3">

    <div class="card-header text-center">
      <h4 class="mt-3">{{name}} <em>({{type}})</em></h4>
      <p></p>
      <p>Duration: {{duration}} hours</p>
    </div>

    <div class="card-body">
      <h5><em>Details:</em></h5>
      {{#with details}}
      {{#with museum}}
      <div>
        <h5>Museum</h5>
        <p><em>name:</em> {{name}}</p>
        <p><em>location:</em>
          {{location.address}},
          {{location.city}},
          {{location.country}}</p>
      </div>


      <h5>Exhibits</h5>
      {{#each exhibits}}
      <div>
        <p><b>{{name}}</b></p>
        {{#if artist}}
        <p><em>artist:</em> {{artist}}</p>
        {{else}}
        <p><em>artist:</em> unknown</p>
        {{/if}}
        <p><em>description:</em> {{description}}</p>
        {{#if audio_guide}}
        <p><em>audio guide:</em> available</p>
        {{else}}
        <p><em>audio guide:</em> not available</p>
        {{/if}}
      </div>

      {{/each}}
      {{/with}}

      {{#with venue}}
      <h5>Venue</h5>
      <p><em>name:</em> {{name}}</p>
      <p><em>location:</em>
        {{location.address}},
        {{location.city}},
        {{location.country}}</p>
      {{/with}}

      {{#with performers}}
      <h5>Performers</h5>
      {{#each ../performers}}
      <p>{{name}} - {{type}}</p>
      {{/each}}
      {{/with}}




    </div>

    <div class="card-footer text-end">
      {{#with guide}}
      <h5>Guide</h5>
      <p><em>name:</em> {{name}}</p>
      <p><em>language:</em> {{language}}</p>
      <p><em>rating:</em> {{rating}}</p>
      {{/with}}
    </div>


    {{/with}}

  </div>

  {{/each}}








</div>