{{#with navigation}}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body p-0">
        <div class="nav">
          {{#each links}}
          <div class="nav-item ">
            <a href="{{href}}" class="nav-link {{#unless href}} disabled {{/unless}}">{{text}}</a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/with}}

<nav class="breadcrumb my-5">
  {{#each breadcrumb}}
  <ul>
    <li class="breadcrumb-item">
      <a href="{{url}}">{{name}}</a>
    </li>
  </ul>
  {{/each}}
</nav>

<h3>{{header}}</h3>

<div class="row my-3 g-2">
  {{#each sortBlock}}
  <div class="col-3 ms-0">
    <select class="form-select">
      <option selected>{{placeholder}}</option>
      {{#each options}}
      <option {{value}}>{{text}}</option>
      {{/each}}
    </select>
  </div>
  {{/each}}
</div>



<div class="row g-2 mb-5">

  {{#with filterBlock}}
  <div class="col-4">
    <div class="card">
      <div class="card-body">

        {{#with sellers}}
        <p>{{title}}</p>
        <div class="form-check">
          {{#each list}}
          <div class="mb-3">
            <input name="factors" type="checkbox" class="form-check-input">
            <label class="form-check-label">{{value}}</label>
          </div>
          {{/each}}
        </div>
        {{/with}}

        <div class="mt-2 mb-4">
          <hr>
        </div>

        {{#with brands}}
        <p>{{title}}</p>
        {{#with input}}
        <div class="mb-3">
          <input class="form-control" placeholder="{{placeholder}}">
        </div>
        {{/with}}
        <div class="form-check">
          {{#each options}}
          <div class="mb-3">
            <input name="factors" type="checkbox" class="form-check-input">
            <label class="form-check-label">{{value}}</label>
          </div>
          {{/each}}
        </div>
        {{/with}}

        <div class="mt-2 mb-4">
          <hr>
        </div>

        {{#with price}}
        <p>{{title}}</p>
        {{#with range}}
        <div class="mb-3">
          <input class="form-control" placeholder="{{from}}">
          <input class="form-control" placeholder="{{to}}">
        </div>
        {{/with}}
        {{#with button}}
        <button href="{{link}}" class="btn btn-sm btn-outline-dark px-3">{{text}}</button>
        {{/with}}
        {{/with}}

        <div class="mt-2 mb-4">
          <hr>
        </div>

        {{#each filterList}}
        <p>{{title}}</p>
        <div class="form-check">
          {{#each options}}
          <div class="mb-3">
            <input name="factors" type="checkbox" class="form-check-input">
            <label class="form-check-label">{{value}}</label>
          </div>
          {{/each}}
        </div>
        {{#if @last}}{{else}}<div class="mt-3 mb-3">
          <hr>
        </div>{{/if}}
        {{/each}}

      </div>
    </div>
  </div>
  {{/with}}



  <div class="col-8">
    <div class="row g-2">
      {{#each goodsList}}
      {{>catalogItem}}
      {{/each}}
    </div>
  </div>

</div>

{{>footer-shop}}