<div>
  <h1 class="text-center">{{page_header.title}}</h1>
  <p class="text-uppercase text-center">{{page_header.description}}</p><br>

  {{#with section}}
  <div class="card">
    <div class="card-body">
      {{#with about_us}}
      <div class="display-6 text-end">{{title_list.main}}</div><br>
      <h2 class="text-end">{{title_list.sub}}</h2>
      <button class="btn btn-outline-info">{{button.text}}</button>
      {{/with}}
    </div>
  </div>

  <br>

  <div class="card">
    <div class="card-body">
      {{#with advantage}}

      <div class="display-5 text-muted">{{title}}</div><br>

      <div class="card">
        <div class="card-body">
          {{#with efficiency}}
          <div class="display-4 text-muted ">{{title}}</div><br>
          <h6>{{sub_title}}</h6><br>
          <p>{{description}}</p><br>
          <button class="btn btn-outline-warning">{{button}}</button>
          {{/with}}
        </div>
      </div>
      <br>

      <div class="card">
        <div class="card-body">
          {{#with innovation}}
          <div class="display-4 text-muted text-center">{{title}}</div><br>
          <h6 class="text-center">{{sub_title}}</h6><br>
          <p class="text-center">{{description}}</p><br>
          <button class="btn btn-outline-warning">{{button}}</button>
          {{/with}}

        </div>
      </div>
      <br>

      <div class="card">
        <div class="card-body">
          {{#with collaboration}}
          <div class="display-4 text-muted text-end">{{title}}</div><br>
          <h6 class="text-end">{{sub_title}}</h6><br>
          <p class="text-end">{{description}}</p><br>
          <button class="btn btn-outline-warning">{{button}}</button>
          {{/with}}

        </div>
      </div>

      {{/with}}
    </div>
  </div>

  <br>
  <div class="card">
    <div class="card-body">
      {{#with agreement}}

      <div class="display-5">{{title}}</div><br>

      <div class="card">
        <div class="card-body">
          {{#with info}}
          <h5>{{sub_title}}</h5>

          <div class="card">
            <div class="card-body">
              <p>{{detail.text}}</p>
              <button class="btn btn-success">{{detail.button}}</button>
            </div>
          </div>

          {{/with}}
        </div>
      </div>

      {{/with}}
    </div>
  </div>












  {{/with}}
</div>