<div>
  <section>
    <div class="card mb-3"
      style="background-image: linear-gradient( 87.9deg,  rgba(140,253,242,1) 9.7%, rgba(81,162,228,1) 45.5%, rgba(154,16,154,1) 92.5% );">
      <div class="card-body">
        <h1>WEB</h1>
        <h2>Programming languages</h2>
      </div>

    </div>


    {{#each web.languages}}
    <div>
      <button class="btn btn-outline-warning">
        <h4>{{name}} <code>({{version}})</code></h4>
      </button>
      <p></p>
      <p class="alert alert-primary"><code>description: </code>{{description}}</p>

      {{#each elements}}
      <h5 class="btn btn-outline-success rounded-pill">elements:</h5>
      <div>
        <p><code>name:</code> {{name}}</p>
        <p><code>description:</code> {{description}}</p>
        <p><code>attributes:</code></p>
        {{#each attributes}}
        <section>
          <ul>
            <li>name:
              {{name}}</li>
            <li>description:
              {{description}}</li>
          </ul>
        </section>
        {{/each}}
      </div>
      {{/each}}

      {{#each properties}}
      <h5 class="btn btn-outline-success rounded-pill">properties:</h5>
      <div>
        <p><code>name:</code> {{name}}</p>
        <p><code>description:</code> {{description}}</p>
        <p><code>values:</code></p>

        {{#each values}}
        <section>
          <ul>
            <li>value:
              {{value}}</li>
            <li>description:
              {{description}}</li>
          </ul>
        </section>
        {{/each}}

      </div>
      {{/each}}

      {{#each functions}}
      <h5 class="btn btn-outline-success rounded-pill">functions:</h5>
      <div>
        <p><code>name:</code> {{name}}</p>
        <p><code>description:</code> {{description}}</p>
        <p><code>parameters:</code></p>
        {{#each parameters}}
        <section>
          <ul>
            <li>name:
              {{name}}</li>
            <li>type:
              {{type}}</li>
            <li>description:
              {{description}}</li>
          </ul>
        </section>
        {{/each}}

      </div>
      {{/each}}
    </div>



    {{/each}}
  </section>
</div>