{{#with header}}
<header>
    <div>
        <h1>
            {{name.firstname}} {{name.lastname}}
        </h1>
        {{>title data=title.text}}
    </div>
    <div>
        <b>{{position}}</b>
    </div>
    <br>
    <div>
        <em>{{salary}}</em>
    </div>
    <br />
    <div>
        <em>{{address}}</em>
    </div>

</header>
{{/with}}